.idea
*outcmaes*
*ipynb_checkpoints*
*.pkl
*.pyc
*.profile

./experiments/*
!./experiments/template/*
!./experiments/data/*/figures/*
!./experiments/data/*/pkl_data/*
!./experiments/data/*/problem_setup.py

